/* ---- CSS Demo ---- */

body {
    background-color: cyan;
}

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Responsive Images -----------------  */


  img{
    max-width:100%;
  }


/*  --------------- Utility Classes -----------------  */

.container{
  max-width:960px;
  width:80vw;
  margin:40px auto;
}



  /*  --------------- Global Styles -----------------  */

  body {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
}
body {
    color: white;
}
a {
    color:white;
}
a:visited {
    color:lightcoral;
}
a:hover {
    color:red;
}

  body {
    font-family: "Anta", sans-serif;
    margin: 0;
  }

  header.primary {
    background:lightslategray;
    text-align:center;
    text-shadow: 2px 2px 20px #000;
    padding: 40px; /*Short hand for the padding*/
    /*long form
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    adding-left: 40px;*/ 
    /* T,R,B,L 
    padding: 20px 40px 20px 40px;  */
    /* Two Value Top/Bottom / L/R 
    padding: 20px 40px;  */
  }

  header.primary h1 {
    font-size: 2.4rem;
    margin: 20px 0 0;
  }

  header.primary h1 a{
    text-decoration: none;
  }

  header.primary h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  header.primary nav{
    max-width: 900px;
    margin: auto;
  }

  header.primary ul{
    padding:10px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  header.primary ul li{
    list-style-type: none;
  }

  header.primary nav a{
    color:aliceblue;
    text-decoration: none;
    background-color: rgba(0,0,0,.4);
    padding: 5px 4px 4px;
    border-radius:27px 49px;
    border: 4px solid palegreen;
    transition:.4s;
  }

  header.primary nav a:hover{
    background-color: rgba(0,0,0,.8);
    text-decoration:underline;
  }

  #content{
    line-height:1.5;
  }

  #content h2{
    color:#AE58F5;
    border-bottom:1.5px dotted #AE58F5;
  }

  #content h3{
    border-left:7.5px solid #AE58F5;
    padding:7.5px;
  }

  #blog{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:2rem;
    border-bottom:1px dotted #AE58F5;
    padding-bottom: 2rem;
    border-top:1px dotted #AE58F5;
    padding-top: 2rem;
  }

  #blog .post{
    box-shadow:0 4px 8px rgba(0,0,0,.75);
    padding:10px;
    border-radius:22px;
    font-size:.8rem;
    transition:.5s;
  }

  #blog figure{
    margin:0;
  }

  #blog figcaption{
    text-transform:uppercase;
    font-size:.6rem;
    text-align: center;
  }

  #blog header{
    padding-top:10px;
    font-size:.6rem;
  }

  #blog header h2{
    margin:0;
  }

  #blog a{
    color:#AE58F5;
  }

  #blog .post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.6);
  }

  aside[role="complementary"]{
    background-color: #5868F5;
    padding:1.9rem;
  }

  aside .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:60px;
  }

  aside .container a{
    color:#fff;
  }

  aside .container a:last-of-type{
    display: block;
    text-align: right;
  }

  aside .widget footer{
    display: none;
  }

  #colophon{
    background-color: #5868F5;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
  }















  @media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      gap:10px;
      max-width:200px;
      margin:auto;
    }
    header.primary nav a{
      display:block;
    }
  }
  