body {
    background-color: lightblue;
}
body {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
}
body {
    color: white;
}
a {
    color:white;
}
a:visited {
    color:lightcoral;
}
a:hover {
    color:red;
}