/* ---- Prototype ---- */

body {
    background: lightblue;
}
table, td, tr, th {
    border: 1px solid white;
    border-width: 100%;
    text-align: center;
    margin: 0 auto;
}
body {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
    margin: 0;
}
body {
    color: white;
}
a {
    color:white;
}
a:visited {
    color:lightcoral;
}
a:hover {
    color:red;
}