body {
    background: lightblue;
}
table, td, tr, th {
    border: 1px solid black;
    border-width: 100%;
    text-align: center;
}
body {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAKLSURBVHja7FJNaxRBFD1w9JNQQFhQQWdZJNRdRjADLYiBCBpY+8URcSHG2NpUug3K7TqAhQRTtHYiCgMJZSLm+3nLLzD5kFsqYl5V6e3nm5py3jOLwq8BhHBZCx5PjC3HffX39gzHJ33kzZlazpJJ6+xXhcdw85DwjUYLC/i7gOUgLl9LOD+IuDCMGUV2WMJaN8XqFWZFwA+3ifU5B5w0wRgVPhaBT3MeFjIA9npFQAFOBXLdb0CJd8g0Uia56RrWdGdIJpEJnEHeU+q3N3FI3Dc9gI6fJb+wFBs2ApwN9m0ZokS4BkEjQNAR4DlXBnKbxlgCuBJxhGbgZNFwJRBzInkOcwBHoXV8POk1wqZyDyKb9BAhBD8NdziDgk6HQuQF+w0F2Z1fXZHzPrJ1hZAEIuN+AcCtzXpXfgIqIaJJT4eB3zjx7BBc6oLMW8BAKCxJOL8gRGQauMz5B4vl74Blg6RvYV6+FUXZ4A7k6Hg7M/QFS/gBrCHJG7gXDiWc3mF4MvF8A2o6P3/K+fOQy8eBwF9OCP8/Bz+5EgacRsBPrLQA/B5uOTfA39qHhNF7cfBf4PTZwQ2DHqV6u3jCjvvo8giouXPwPnwAAz/PybOCIDtFMAAAAASUVORK5CYII=');
    width: 200px;
    height: 200px;
}